<div class="login">  
  <div class="col-md-12 text-center">
    <div id="user-login">
      <div class="col-md-4"></div>
      <div class="col-md-4 box">
        <h4>Login</h4>         
        <%= form_tag('/users/user_login', :method => :post, :id =>'user-login-form') do %>
          <%= email_field_tag(:email,"",:placeholder => "Email", label: false, autofocus: true, class: 'form-control l1') %><br> 
          <%= password_field_tag(:password, "", :placeholder =>"Password", label: false, class: 'form-control l2') %><br>  
          
          <%= submit_tag 'Login', class: "btn btn-warning button ", id: 'asdf' %> <br>
                          
        <% end %> 
        <ul class="link">
          <li data-toggle="tooltip" data-placement="bottom" title="Logout">
          <%= link_to 'Create an Account', '/users/signup' %> <br>  
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>








