<div class="signup">  
  <div class="col-md-12 text-center">
    <div id="user-signup">
      <div class="col-md-4"></div>
      <div class="col-md-4 box">
        <h4>Create Account</h4>         
        <%= form_tag('/users', :method => :post, :id =>'user-signup-form') do %> 

          <%= email_field_tag(:email,"",:placeholder => "Email",required: true , label: false, autofocus: true, class: 'form-control s1') %><br> 
          <%= password_field_tag(:password, "", :placeholder =>"Password",required: true ,  label: false, class: 'form-control s2') %><br>
          <%= password_field_tag(:password_confirmation, "", :placeholder =>"Password Confirmation", required: true , label: false, class: 'form-control s3') %>  
          
          <%= submit_tag 'Signup', class: "btn btn-warning button ", id: 'asdf' %> <br>                          
        <% end %>         
        <ul class="link">
          <li data-toggle="tooltip" data-placement="bottom" title="Login">
          <%= link_to 'Login', root_path %> <br>  
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>






