
@import "bootstrap-sprockets";
@import "bootstrap";

body {
 font-family: Roboto Condensed, sans-serif;
}
.navbar{
  margin-bottom: 0px;
}
#box-wrapper1 .patient{
  background-color: #eee;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:335px;
  min-width:100px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
}
.alert {
  padding-left: 10px;   
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.form-control {
  width: 32%;
}
button, html input[type=button], input[type=reset], input[type=submit] {
  width: 96px;
}


#box-wrapper1 #patient-add .patient .pat .p1{
  margin: auto;
  width: 34%;
}
#box-wrapper1 #patient-add .patient .pat .p2{
  margin: auto;;
  width: 34%;
}
#box-wrapper1 #patient-add .patient .btn{
  margin: auto;
  margin-left: 117px;
}

#box-wrapper1 #patient-add .patient h4{
  padding-top: 73px;
  margin-top: 0;
}



#box-wrapper1 .doctor{
  background-color: #fff;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:335px;
  min-width:100px;
}

#box-wrapper1 .doctor h4{
  padding-top: 73px;
  margin-top: 0;
  margin-bottom: 15px;
   
}


#box-wrapper1 .doctor .doc .d1{
  margin: auto;
  width: 34%;
}
#box-wrapper1 .doctor .doc .d2{
  margin: auto;
  width: 34%;
}
#box-wrapper1 .doctor .doc .d3{
  margin: auto;
  width: 34%;
}
#box-wrapper1 .doctor .doc .btn2{
  margin: auto;
  margin-left: 117px;
}



#box-wrapper1 .appointment{
  background-color: #fff;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:335px;
  min-width:100px;
}

#box-wrapper1 .appointment .ap .ap1{
  margin: auto;
  width: 34%;
}
#box-wrapper1 .appointment .ap .ap2{
  margin: auto;
  width: 34%;
}
#box-wrapper1 .appointment .ap .ap3{
  margin: auto;
  width: 34%;
}
#box-wrapper1 .appointment .ap .btn3{
  margin: auto;
  margin-left: 117px;
}
#box-wrapper1 .appointment h4{
  padding-top: 73px;
  margin-top: 0;
  padding-bottom: 10px;
}

#box-wrapper1 .view{
  background-color: #eee;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:335px;
  min-width:100px;
}
#box-wrapper1 .view h4{
  padding-top: 62px;
  margin-top: 0;
  padding-bottom: 10px;
}

.login{
  background-color: #fff;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:600px;
  min-width:100px;
}
.login .l1{
  margin: auto;
  width: 60%;
  margin-bottom: 10px;
}
.login .l2{
  margin: auto;
  width: 60%;
  margin-bottom: 10px;
}
.login .box{
  margin-top: 154px;
  border-style: groove;
}
.login h4{
  margin-top: 32px;
  margin-bottom: 20px;
}
.login .button{
  margin-left: 144px;
  margin-bottom: 30px;
}
.login .link{
  color: #fff;
  padding-left: 125px;
}


.signup .s1{
  margin: auto;
  width: 60%;
  margin-bottom: 10px;
}
.signup .s2{
  margin: auto;
  width: 60%;
  margin-bottom: 10px;
}
.signup .s3{
  margin: auto;
  width: 60%;
  margin-bottom: 30px;
}
.signup .box{
  margin-top: 154px;
  border-style: groove;
}
.signup h4{
  margin-top: 32px;
  margin-bottom: 20px;
}
.signup .button{
  margin-left: 151px;
  margin-bottom: 30px;
}
.signup .link{
  color: #fff;
  padding-left: 210px;
}






@media screen and (max-width: 1252px) and (min-width: 992px) {
  #box-wrapper1 .patient .pat .p1{
  margin: auto;
  width: 40%;
  }
  #box-wrapper1 .patient .pat .p2{
   margin: auto;;
    width: 40%;
  }
  #box-wrapper1 .patient .btn{
   margin: auto;
   margin-left: 80px;
  }
  #box-wrapper1 .doctor .doc .d1{
  margin: auto;
  width: 40%;
  }
  #box-wrapper1 .doctor .doc .d2{
    margin: auto;
     width: 40%;
  }
  #box-wrapper1 .doctor .doc .d3{
    margin: auto;
     width: 40%;
  }
  #box-wrapper1 .doctor .doc .btn2{
    margin: auto;
    margin-left: 80px;
  }
  #box-wrapper1 .appointment .ap .ap1{
    margin: auto;
    width: 40%;
  }
  #box-wrapper1 .appointment .ap .ap2{
    margin: auto;
    width: 40%;
  }
  #box-wrapper1 .appointment .ap .ap3{
    margin: auto;
    width: 40%;
  }
  #box-wrapper1 .appointment .ap .btn3{
    margin: auto;
    margin-left: 80px;
  }
  .login .box{
  margin-top: 500px;
  border-style: groove;
  margin-left: 236px;
  margin-right: 236px;
  }
  .signup .box{
  margin-top: 500px;
  border-style: groove;
  margin-left: 236px;
  margin-right: 236px;
  }
}






@media screen and (max-width: 991px) and (min-width: 200px) {
  #box-wrapper1 .patient{
  background-color: #eee;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:335px;
  min-width:100px;
  }
  #box-wrapper1 .patient .btn{
  margin: auto;
  
  }
  #box-wrapper1 .doctor{
  background-color: #fff;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:335px;
  min-width:100px;
  } 
  #box-wrapper1 .doctor .doc .btn2{
  margin: auto;
 
  }
  #box-wrapper1 .appointment{
  background-color: #eee;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:335px;
  min-width:100px;
  }
  #box-wrapper1 .appointment .ap .btn3{
  margin: auto;
  
  }
  #box-wrapper1 .view{
  background-color: #fff;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:335px;
  min-width:100px;
 }
  .login .box{
  margin-top: 500px;
  border-style: groove;
  margin-left: 236px;
  margin-right: 236px;
  }
  .signup .box{
  margin-top: 500px;
  border-style: groove;
  margin-left: 236px;
  margin-right: 236px;
  }


}
 

