<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li data-toggle="tooltip" data-placement="bottom" title="Logout">
        <%= link_to 'logout', '/users/logout' %>
      </li>
    </ul>
  </div>
</nav> 
<div class="" id="box-wrapper1">  
  <div class="col-md-12 text-center">
    <div id="patient-add">
      <div class="col-md-6 patient">
        <h4>Patient</h4> 
        <div class="pat">  
          <%= form_tag('/patients', :method => :post, :id =>'patient-add-form') do %>
            <%= text_field_tag(:name,"",:placeholder => "Name" ,required: true, label: false, autofocus: true, class: 'form-control p1', id: 'p11') %><br>
            <%= number_field_tag(:phone_number,"",:placeholder =>"Phone Number", required: true, label: false, class: 'form-control p2', id: 'p12') %><br>
            <%= submit_tag 'submit', class: "btn btn-warning ", id: 'asdf' %>                     
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6 doctor ">
      <h4>doctor</h4>
      <div class="doc"> 
      <%= form_tag('/doctors', :method => :post, :id =>'doctor-add-form') do %> 
        <%= text_field_tag(:name,"",:placeholder =>"Name",required: true, label: false, autofocus: true, class: 'form-control d1', id: 'd11') %><br>
        <%= number_field_tag(:phone_number,"",:placeholder => "Phone Number", required: true, label: false, class: 'form-control d2', id: 'd12') %><br>
        <%= text_field_tag(:specialization,"",:placeholder => "Specialization", required: true, label: false, class: 'form-control d3', id: 'd13') %><br>
        <%= submit_tag 'submit', class: "btn btn-warning btn2"  %>
      <% end %>
      </div>
    </div>    

    <div class="col-md-6 appointment">
      <h4>Appointments</h4> 
      <div class="ap">   
        <%= form_tag('/appointments', :method => :post, :id =>'appointment-add-form') do %>      
                
          <%= select_tag 'doctor_id',options_for_select(@doctors.collect{ |i| [i['name'], i['id']] }), prompt: 'Doctor', class:'form-control ap1', id:'doctor-select-tag' %><br>
          <%= select_tag 'patient_id',options_for_select(@patients.collect{ |i| [i['name'], i['id']] }), prompt: 'Patient', class:'form-control ap2', id:'patient-select-tag' %><br>
          <%= text_field_tag(:diseases,"",:placeholder =>"Diseases", required: true, label: false, class: 'form-control ap3', id: 'ap13') %><br>
          <%= submit_tag 'submit', class: "form-control btn btn-warning btn3"  %>                      
      <% end %>
      </div>
    </div>
    <div class="col-md-6 view">
      <p id="notice"><%= notice %></p>
      <h4>Appointments</h4>
      <table class="table ">
        <thead>

          <tr>
            <th class="hd1 text-center">doctor</th>
            <th class="hd2 text-center">patient</th>
            <th class="hd3 text-center">diseases</th>      
          </tr>
        </thead>

        <tbody id="appointment-list">
          <% @appointments.each do |appointment| %>                  
            <tr>
              <td><%= appointment['doctor'] %></td>
              <td><%= appointment['patient'] %></td>
              <td><%= appointment['diseases'] %></td>         
            </tr>                  
          <% end %>
        </tbody>
      </table>                 
    </div>
  </div>
</div>  
